:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 68%, 62%);
}

.ahmed {
    background-image: linear-gradient(rgba(236, 228, 228, 0.7), #45693d), url(./image/962218_412313.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: calc(100dvh - 122px);  
        display: flex;
        align-items: center;
        justify-content: center;
        section {
            form {
                label {
                    color: #8cd87c;
                }
                input {
                    background-color: #333;
                    color: white;
                }
                button {
                    border-color: #8cd87c;
                }
            }
            p {
                align-self: center;
                color: #8cd87c;
            }
            .form-check {
                margin-bottom: 20px;
                .form-check-label {
                    margin-right: 25px;
                    font-size: 13px;
                }
            }
            span {
                font-size: 13px;
                color: crimson;
                margin-bottom: 10px;
                align-self: center;
            }
        } 
}
