.about, .contact {
    background-image: linear-gradient(rgba(236, 228, 228, 0.7), #45693d), url(../Login/image/962218_412313.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100dvh;
        height: 100%;
}
.swiper-button-prev, .swiper-button-next {
    color: #45693d;
}
.links-container {
    overflow: hidden;
}