.datatableHome {
  /* position:absolute; */
  display: flex;
  align-items: center;
  color: dimgray;

}

.btn.dropdown-toggle {
  font-size: 12px;

}
input::placeholder {
  font-size: 12px;
  /* text-indent: 5px; */
} 
.table {
  color: #323333;
  font-size: 12px;
  position: relative;

}

.filter {
  position: absolute;
  font-size: 12px;
  width: 90px!important;
  top: -50px;
  right: 16%;
  height: 32px;
}
.table thead {
  background-color:  #55c591;

}

.table thead:hover {
  cursor: pointer;
}

.table th,
.table td,
.table tr {
  font-size: 12px;
  align-items: center;
  color: #323333;
  padding: 0.3rem !important;
  vertical-align: top;
  border: 1px solid #232424;

}

.table-hover tbody tr:hover {
  background-color: rgba(226, 218, 218, 0.075);
  color: #323333;

}

.my-swal {
  background-color: #ffffff;
  border-radius: 5px;
}

.my-swal-popup {
  width: 300px;
}
.my-swal-confirm-button,.my-swal-cancel-button,.my-swal-icon {
  font-size: 13px;
}
.my-swal-title {
  color: #333;
  font-size: 13px;
  animation: none;
}

.viewButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-top: 3px;
  cursor: pointer;
  color: rgb(0, 110, 255);

}